<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" executionTimeout="100000" maxRequestLength="200000" maxQueryStringLength="200000" useFullyQualifiedRedirectUrl="true"/>
    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>

  <system.serviceModel>
    
    <behaviors>
      
      <endpointBehaviors>

        <behavior name="AndroidWebHTTPBinding">
          <webHttp/>

        </behavior>

      </endpointBehaviors>
      
      
      <serviceBehaviors>
        
        <behavior name="webservicebehaviour">

          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

      </serviceBehaviors>
      
      <!--Android behaviours-->
    

    </behaviors>

    <protocolMapping>


      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https"/>
     
     
    </protocolMapping>

    <bindings>
     

      <basicHttpBinding>

        <binding name="CustomLarge" maxReceivedMessageSize="2147483647"   maxBufferPoolSize="2147483647"
               
                  transferMode="Streamed"
                  sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647"/>
        

          <security mode="None" >
            <transport clientCredentialType="None"/>
          </security>

        </binding>
       
      </basicHttpBinding>
     

      <webHttpBinding>
        <binding name="webHttpBindingWithJSONP" maxBufferSize="200000"
                  maxBufferPoolSize="200000"
                  maxReceivedMessageSize="200000"
                  transferMode="Streamed"
                  sendTimeout="00:05:00" crossDomainScriptAccessEnabled="true">
          <readerQuotas  maxDepth="200000"
                      maxStringContentLength="200000"
                      maxArrayLength="200000"
                      maxBytesPerRead="200000"
                      maxNameTableCharCount="200000"
                      />

          <security mode="None" >
            <transport clientCredentialType="None"/>
          </security>


        </binding>
      </webHttpBinding>

    </bindings>

    <!--Android services-->
    <services>
      
      <service name="WcfServices.AndroidUserCRUD" behaviorConfiguration="webservicebehaviour">
        
        <endpoint address="" binding="webHttpBinding"  bindingConfiguration="webHttpBindingWithJSONP"  behaviorConfiguration="AndroidWebHTTPBinding" contract="WcfServices.IAndroidUserCRUD"></endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>

      <service  name="WcfServices.AndroidAdCRUD" behaviorConfiguration="webservicebehaviour">
       
        <endpoint  address="" binding="webHttpBinding"  bindingConfiguration="webHttpBindingWithJSONP" behaviorConfiguration="AndroidWebHTTPBinding" contract="WcfServices.IAndroidAdCRUD"></endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      
      <service name="WcfServices.UserCRUD" behaviorConfiguration="webservicebehaviour">
        <endpoint address="http://localhost:8256/UserCRUD.svc" binding="basicHttpBinding" bindingConfiguration="CustomLarge" contract="WcfServices.IUserCRUD" listenUri="/"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="WcfServices.AdCRUD"  behaviorConfiguration="webservicebehaviour">
        <endpoint address="http://localhost:8256/AdCRUD.svc" binding="basicHttpBinding" bindingConfiguration="CustomLarge" contract="WcfServices.IAdCRUD" listenUri="/"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
   
    </services>


    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add relativeAddress="~/AndroidUserCRUD.svc" service="WcfServices.AndroidUserCRUD" />
        <add relativeAddress="~/AndroidAdCRUD.svc" service="WcfServices.AndroidAdCRUD" />
       <add relativeAddress="~/UserCRUD.svc" service="WcfServices.UserCRUD" />
        <add relativeAddress="~/AdCRUD.svc" service="WcfServices.AdCRUD"  />
      </serviceActivations>
    </serviceHostingEnvironment>


  </system.serviceModel>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="200000" maxUrl="200000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>

  </system.webServer>

  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\twoGamesDB.mdf;Integrated Security=True" />
   </connectionStrings>

</configuration>
